In [1]:
#Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np

In [2]:
#Study data files
crime_data_path='Chicago_Crimes_2012_to_2017.csv'

#Reading CSV
crime_data=pd.read_csv(crime_data_path)
#Copyng the data
crime_data_copy=crime_data.copy()
#Read the crime data to analysis
crime_data.sample(5)

,Unnamed: 0,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
555591,2890569,9192300,HW335812,05/25/2013 03:00:00 PM,003XX W 79TH ST,1242,DECEPTIVE PRACTICE,COMPUTER FRAUD,CURRENCY EXCHANGE,False,...,17.0,44.0,11,1175198.0,1852557.0,2013,02/04/2016 06:33:39 AM,41.750794,-87.633561,"(41.750794483, -87.633560686)"
1198391,3534998,10371233,HZ107020,01/07/2016 10:30:00 AM,024XX W CONGRESS PKWY,2093,NARCOTICS,FOUND SUSPECT NARCOTICS,"SCHOOL, PUBLIC, BUILDING",True,...,2.0,28.0,18,1160408.0,1897703.0,2016,01/15/2016 12:18:25 PM,41.874998,-87.686513,"(41.874997972, -87.686513346)"
735659,3070970,9488770,HX142248,01/30/2014 07:00:00 PM,010XX N LAVERGNE AVE,0841,THEFT,FINANCIAL ID THEFT:$300 &UNDER,RESIDENCE,False,...,37.0,25.0,06,1142839.0,1906396.0,2014,02/04/2016 06:33:39 AM,41.899198,-87.750803,"(41.899197809, -87.750803438)"
312358,2646613,8799742,HV473549,09/13/2012 01:50:00 AM,133XX S EBERHART AVE,1360,CRIMINAL TRESPASS,TO VEHICLE,STREET,True,...,9.0,54.0,26,1181913.0,1816737.0,2012,02/04/2016 06:33:39 AM,41.652347,-87.610056,"(41.652347172, -87.610056254)"
1287140,6066156,10556743,HZ303788,06/11/2016 04:30:00 PM,111XX S EGGLESTON AVE,0313,ROBBERY,ARMED: OTHER DANGEROUS WEAPON,STREET,False,...,34.0,49.0,03,1175277.0,1831025.0,2016,06/18/2016 03:54:19 PM,41.691706,-87.633912,"(41.691705964, -87.633912234)"

In [3]:
#Checking if the data have duplicates serching from the ID
dup_crime_data=crime_data.loc[crime_data.duplicated(subset=['ID']),'ID'].unique()
dup_crime_data
#Don't have any duplicate data

array([], dtype=int64)

In [4]:
#See if have blank columns
crime_data.empty

False

In [5]:
#Checking the type of crimes and number with all years together
crime_data['Primary Type'].value_counts()

Primary Type
THEFT                                329460
BATTERY                              263700
CRIMINAL DAMAGE                      155455
NARCOTICS                            135240
ASSAULT                               91289
OTHER OFFENSE                         87874
BURGLARY                              83397
DECEPTIVE PRACTICE                    75495
MOTOR VEHICLE THEFT                   61138
ROBBERY                               57313
CRIMINAL TRESPASS                     36912
WEAPONS VIOLATION                     17233
PUBLIC PEACE VIOLATION                13122
OFFENSE INVOLVING CHILDREN            11398
PROSTITUTION                           7633
CRIM SEXUAL ASSAULT                    6823
INTERFERENCE WITH PUBLIC OFFICER       6195
SEX OFFENSE                            4885
HOMICIDE                               2649
ARSON                                  2217
GAMBLING                               2212
LIQUOR LAW VIOLATION                   1953
KIDNAPPING                             1099
STALKING                                828
INTIMIDATION                            662
OBSCENITY                               187
NON-CRIMINAL                             93
CONCEALED CARRY LICENSE VIOLATION        90
PUBLIC INDECENCY                         62
NON - CRIMINAL                           38
OTHER NARCOTIC VIOLATION                 30
HUMAN TRAFFICKING                        28
NON-CRIMINAL (SUBJECT SPECIFIED)          4
Name: count, dtype: int64

In [6]:
#Get the name of columns to clean up
list(crime_data.columns)

['Unnamed: 0',
 'ID',
 'Case Number',
 'Date',
 'Block',
 'IUCR',
 'Primary Type',
 'Description',
 'Location Description',
 'Arrest',
 'Domestic',
 'Beat',
 'District',
 'Ward',
 'Community Area',
 'FBI Code',
 'X Coordinate',
 'Y Coordinate',
 'Year',
 'Updated On',
 'Latitude',
 'Longitude',
 'Location']

In [7]:
#Cleaning up some columns (If you guys think need to cleaning up more just include the name of the column on the code)
crime_data_copy=crime_data_copy.drop(['Unnamed: 0','Case Number','Block','IUCR','Description','Location Description','Arrest','Domestic','Beat','Ward','FBI Code','X Coordinate',
                                      'Y Coordinate','Updated On','Latitude','Longitude','Location'], axis=1)
crime_data_copy.head()

,ID,Date,Primary Type,District,Community Area,Year
0,10508693,05/03/2016 11:40:00 PM,BATTERY,10.0,29.0,2016
1,10508695,05/03/2016 09:40:00 PM,BATTERY,3.0,42.0,2016
2,10508697,05/03/2016 11:31:00 PM,PUBLIC PEACE VIOLATION,15.0,25.0,2016
3,10508698,05/03/2016 10:10:00 PM,BATTERY,15.0,25.0,2016
4,10508699,05/03/2016 10:00:00 PM,THEFT,15.0,25.0,2016

In [9]:
#Crimes group by year and type
crime_data_yearly=crime_data_copy.groupby(['Year','Primary Type'])

crime_data_yearly.count()

                             ID   Date  District  Community Area
Year Primary Type
2012 ARSON                  469    469       469             469
     ASSAULT              19898  19898     19898           19894
     BATTERY              59132  59132     59132           59129
     BURGLARY             22844  22844     22844           22841
     CRIM SEXUAL ASSAULT   1406   1406      1406            1406
...                         ...    ...       ...             ...
2017 ROBBERY                613    613       613             613
     SEX OFFENSE             20     20        20              20
     STALKING                 7      7         7               7
     THEFT                 2493   2493      2493            2493
     WEAPONS VIOLATION      177    177       177             177

[186 rows x 4 columns]